body {
    text-align: center;
    background: url(../images/bgImage.jpg);
    background-repeat: round;
}

.mainArea {
    margin-top: 50px;

}

#playArea {
    font-family: 'Ultra', serif;
    font-family: 'Lora', serif;
}

/* Play Area elements */
.jumbotron {
    background-color: black;
    color: rgb(253, 243, 171);
}


#question {
    margin-bottom: 50px;

}



#startBtn {
    padding: 20px 0;
}